<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    
    <targets>
        <target type="File" 
                name="allfile" 
                fileName="${basedir}\logs\allfile-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|
                        ${exception:format=tostring}" />
        
        <target type="File"
                name="user_actions"
                fileName="${basedir}\logs\user_actions-${shortdate}.log"
                layout="${longdate}|${message}" />
        
        <target type="Console" 
                name="lifetimeConsole" 
                layout="${level:toUpper=true}\:${message}${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Warn" writeTo="allfile" />
        <logger name="*" minlevel="Info" maxlevel="Info" writeTo="user_actions" />
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
    </rules>
</nlog>
